.userCard {
    width: 10%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
    border: 2px solid var(--Primary-Red-500, #C10000);
    margin: 10px;
}

img.profile{
    margin-top: 10px;
    width: 50%;
    height: 50%;
}